@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif !important;
}

.pointer{
  cursor: pointer !important;
}

.industryShadow{
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
}

.industryCard{
  transition: 0.3s ease-in-out;
}

.industryCard:hover .industryShadow{
  transform: translateY(0%);
}

.industryCard:hover{
  transform: scale(0.9);
}

.productImg{
  transition: 0.3s ease-in-out;
}

.productCard:hover .productImg{
  transform: scale(0.8);
}